@import '@/styles/_variant.scss';

.msg-title {
    color: $green-500;
}

.input-gp {
    padding-block: 20px;
    width: 800px;

    .name {
        width: 178px;
        text-align: end;
    }

    input[type=text]{
        padding: 10px;
        height: 42px;
        width: 600px;
        border: solid $gray-200 1px;
        border-radius: 5px;

        &:focus {
            outline-color: $green-500 ;
            outline-width: 2px;
        }
    }

    .select {
        width: 600px;
        border-radius: 5px;
        box-shadow: 5px #e9ecef;
        border: 1px solid $gray-200;

        &:focus {
            box-shadow: 0 0 0 0.1rem $green-500;
        }
    }

    .number {
        &:focus {
            box-shadow: 0 0 0 0.1rem $green-500;
        }
    }

    .discount {
        width: 600px;
        .btn-dp {
            height: 42px;
            padding-inline: 10px;
            background-color: transparent;
            border: solid $gray-200 1px;
            border-radius: 3px 0 0 3px;

            &:hover {
                background-color: $gray-300;
                color: #fff;
            }
            &:focus {
                box-shadow: 0 0 2px 0.1rem $green-500;
            }
        }

        input[type=number] {
            width: 400px;
        }

    }

}


.exdate {
    width: 600px;

    input[type=date] {
        padding: 10px;
        width: 250px;
        height: 42px;
        border: solid $gray-200 1px;
        border-radius: 5px;

        &:focus {
            outline-color: $green-500 ;
            outline-width: 2px;
        }
    }
}



.dscode {
    input {
        width: 500px !important;

    }
}

.ps {
    font-size: 11px;
}




.success {
    text-align: center;
    align-content: center;
    width: 90px;
    height: 42px;
    border-radius: 2px;
}

.line {
    height: 1px;
    width: 20px;
    background-color: $gray-200;
}

.btn {
    text-align: center;
    align-content: center;
}

.error{
    font-size: 12px;
    color: red;
}