@import '@/styles/_variant.scss';
.main {
  padding: 70px 120px;
  padding-left: 420px;
  min-height: 100vh;
  margin: auto;

  .selectbar {
    margin-block: 20px;
    height: 65px;
    background: $gray-100;
    border-radius: 5px;
    display: flex;
    align-items: center;

    .searchArea {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .searchInput {
        height: 33px;
        background-color: rgb(255, 255, 255);
        border: 1.5px solid $green-600;
        border-radius: 20px;
        color: $green-500;
        padding: 15px;
        margin-left: 20px;
      }
      .searchInput:focus {
        outline: none;
        background-color: $gray-100;
      }
      .searchInput::placeholder {
        color: rgb(200, 200, 200);
      }
    }
  }
  .filterBtn {
    height: 32px;
    button {
      border: none;
      background-color: white;
      margin-inline: 8px;
      &:hover {
        border-bottom: 2px solid $green-600;
      }
    }
    .active {
      border-bottom: 2.5px solid $green-600;
    }
  }
  .workshopArea {
    padding-inline: 40px;

    .myWorkshop {
      background-color: #f8f8f8;
      border-radius: 5px;
      padding: 22px;
      margin-block: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border: none;
      transition: 0.2s;
      .imgArea {
        width: 190px;
        height: 190px;
        background-color: rgb(97, 97, 97);
        margin-right: 30px;
        .coverImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .infoText {
        text-align: start;
        h4 {
          padding-block: 3px;
          border-bottom: 1.5px solid black;
          width: 280px;
          margin-bottom: 50px;
        }
      }
      .priceAndStatus {
        display: flex;
        align-items: center;
        color: $green-600;
        p {
          border: 1.5px solid $green-600;
          border-radius: 17px;
          padding-inline: 18px;
          padding-block: 1px;
        }
        .unUpload {
          color: $green-600;
          border: 1.5px solid $green-600;
        }
        .registering {
          color: white;
          background-color: $green-600;
        }
        .prepare {
          color: white;
          background-color: rgb(211, 193, 110);
          border: none;
        }
        .end {
          color: white;
          background-color: $red-500;
          border: 1.5px solid $red-500;
        }
        .expired {
          color: white;
          background-color: $gray-200;
          border: 1.5px solid $gray-200;
        }
      }
      .trash {
        width: 40px;
        height: 40px;
        color: $green-600;
        border: none;
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        &:hover {
          background: $red-500;
          color: white;
        }
      }
      .upload {
        width: 40px;
        height: 40px;
        color: $green-600;
        border: none;
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        &:hover {
          background: $green-700;
          color: white;
        }
      }
      .editBtn {
        width: 140px;
        height: 40px;
        border: 1.5px solid black;
        border-radius: 20px;
        color: black;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        .arrow {
          display: none;
          color: white;
          transition: 0.2s;
        }
        &:hover {
          background: black;
          color: white;
          .arrow {
            display: inline-block;
          }
        }
      }
      .deleteBtn {
        width: 140px;
        height: 40px;
        border: 1.5px solid $red-500;
        border-radius: 20px;
        color: $red-500;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        &:hover {
          background: $red-500;
          color: white;
          .arrow {
            display: inline-block;
          }
        }
      }
      &:hover {
        background-color: #ececec;
      }
    }
  }
  .noneWorkshopText {
    height: 100%;
    text-align: center;
    padding-top: 120px;
    font-size: 20px;
    color: $green-500;
    .noneWorkshopIcon {
      font-size: 40px;
      margin-block: 20px;
    }
  }
}
