@import '@/styles/_variant.scss';

.bodyImg {
  background: url(/teacher/body_bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.header {
  height: 530px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
  hr {
    width: 500px;
    margin: auto;
    border: 1px solid $green-600;
    margin-top: -10px;
    opacity: 1;
  }
  .main {
    text-align: center;
    height: 530px;
  }
  .headerTitle {
    color: $green-500;
    margin-top: 130px;
  }

  .selectBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .searchInput {
    height: 33px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1.5px solid white;
    border-radius: 20px;
    color: white;
    padding: 15px;
  }
  .searchInput:focus {
    outline: none;
    border: 1.5px solid $green-500;
  }
}

//-----------------------------------------------------

.section01 {
  background-color: black;
  padding: 0px;
  a {
    display: block;
    height: 350px;
    width: auto;
    .blackImg {
      height: 350px;
    }
    .TImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .tColor {
      opacity: 0;
      visibility: hidden;
      width: 0px;
      transition: width 0.6s, opacity 0.7s ease;
    }

    .tBlack {
      opacity: 1;
      visibility: visible;
    }

    &:hover {
      .tBlack {
        opacity: 0;
        visibility: hidden;
        width: 350px;
      }
      .blackImg {
        display: none;
        width: 0px;
      }
      .tColor {
        opacity: 1;
        visibility: visible;
        width: 720px;
      }
    }
  }

  .tColor {
    height: 350px;
    margin: 0;
    background-color: black;
    border: $red-500 solid 8px;
    position: relative;

    .colorImg {
      height: 100%;
      width: 70%;
      object-fit: cover;
    }
    .tName {
      color: $gray-200;
      text-align: center;
    }
    .textContent {
      color: $green-500;
      position: absolute;
      top: 20px;
      right: 30px;
    }
    .information {
      margin-left: 125px;
      margin-top: 10px;
      border-left: 1px solid $green-500;
      padding-left: 25px;
    }
    .tDetail {
      width: 120px;
    }
    .more {
      color: $red-500;
    }
  }
}
//-----------------------------------------------------
.bottomText {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.6);
  color: $green-500;
  font-family: $secondary-font;
  font-size: 32px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .header {
    height: 500px;
    .main {
      height: 500px;
    }
    .headerTitle {
      margin-top: 120px;
      span {
        font-size: 60px;
      }
    }
    hr {
      width: 100%;
    }
    .selectBar {
      display: block;
      width: 100%;
      z-index: 99;
    }
    .searchInput {
      width: 80%;
    }
    .dropdownArea {
      margin-top: 20px;
      width: 100%;
      > div {
        width: 100%;
        text-wrap: nowrap;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .headerTitle {
      margin-top: 100px;
      span {
        font-size: 55px;
      }
    }
    .container {
      padding-inline: 80px;
    }
  }
  .section01 {
    background-color: transparent;
    a {
      height: 100%;
      margin-bottom: 30px;
      .tBlack {
        opacity: 0;
        visibility: hidden;
        width: 350px;
      }
      .blackImg {
        display: none;
        width: 0px;
      }
      .tColor {
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
      &:hover {
        .tBlack {
          opacity: 0;
          visibility: hidden;
          width: 350px;
        }
        .blackImg {
          display: none;
          width: 0px;
        }
        .tColor {
          opacity: 1;
          visibility: visible;
          width: 100%;
        }
      }
    }
    .tColor {
      height: 300px;
      border: none;

      .colorImg {
        height: 100%;
        width: 62%;
      }
      .tDetail {
        margin-top: 10px;
      }
    }
  }
}
@media (max-width: 576px) {
  .header {
    height: 400px;
    .headerTitle {
      margin-top: 45px;
      span {
        text-wrap: nowrap;
      }
    }
  }
  .section01 {
    .tColor {
      height: 300px;
      border: none;
      .tName {
        font-size: 40px;
      }
    }
  }
}
@media (max-width: 390px) {
  .header {
    height: 380px;
    .main {
      height: 500px;
    }
    .headerTitle {
      margin-top: 40px;
      span {
        font-size: 40px;
        text-wrap: nowrap;
      }
    }
    hr {
      width: 100%;
    }
    .detailText {
      font-size: 14px;
    }
  }
  .section01 {
    a {
      margin-bottom: 15px;
    }
    .tColor {
      height: 210px;
      .colorImg {
        height: 100%;
        width: 60%;
      }
      .textContent {
        top: 10px;
        right: 20px;
      }
      .tName {
        font-size: 32px;
      }
      .tDetail {
        margin-top: 10px;
        width: 105px;
      }
      .information {
        font-size: 14px;
        border: none;
      }
    }
  }
  .bottomText {
    height: 70px;
    font-size: 28px;
  }
}
