@import '@/styles/_variant.scss';

.act-img-container {
  height: 930px;
  overflow: hidden;

  img {
    width: 100%;
    height: 930px;
    object-fit: cover;
  }
}

/* 小于992px时的样式 */
@media (max-width: 992px) {
  .act-img-container {
    height: 600px; /* 修改高度为600px */
  }

  .act-img-container img {
    height: 600px; /* 确保图片高度也为600px */
  }
}
@media (max-width: 576px) {
  .act-img-container {
    height: 300px; /* 修改高度为600px */
  }

  .act-img-container img {
    height: 300px; /* 确保图片高度也为600px */
  }
}

.act-sec1 {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  height: 55px;

  .act-month-button {
    border-radius: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 56px;
    display: flex;
    /* 使用 Flexbox 使內容居中 */
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); //

    ul {
      width: 100%;
      display: flex;
      /* 使 ul 成為 Flexbox */
      list-style: none;
      padding: 0;
      /* 移除預設的內邊距 */
      margin: 0;
      /* 移除預設的外邊距 */
      justify-content: center;
      /* 水平置中 */
      align-items: center;
      /* 垂直置中 */

      li {
        flex: 1;
        max-width: 106px;
        height: 55px;
        border: none;
        color: $green-500;
        display: flex;
        /* 使用 Flexbox 使 li 內容居中 */
        justify-content: center;
        /* 水平置中 */
        align-items: center;

        /* 垂直置中 */
        a {
          text-decoration: none; // 移除底線
          color: inherit; // 繼承父元素的顏色
          cursor: pointer; // 設置為手型游標
        }

        &:hover {
          border-radius: 50px;
          background: black;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .search {
    width: 100%; /* 使表单宽度为100% */
  }

  .form-control {
    width: calc(100% - 40px); /* 确保输入框占满剩余空间，减去按钮的宽度 */
  }

  .btn {
    width: 40px; /* 设置按钮固定宽度 */
  }
}
/* 預設隱藏 */

/* 在 391px 到 1920px 顯示 */
@media (min-width: 391px) and (max-width: 1920px) {
  .act-MoBcard-sec {
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 390px) {
  .act-card-sec {
    display: none !important;
  }
}
@media (min-width: 1920px) and (max-width: 2000px) {
  .act-MoBcard-sec {
    display: none !important;
  }
}

.act-main {
  padding-top: 40px;
  width: 100%;
  /* 寬度 100% */
  height: auto;
  /* 高度設置為 100% 視口高度 */
  background-image: url('/activity/bg.png');

  background-size: cover;
  /* 背景圖片覆蓋 */
  background-position: center;
  /* 背景圖片居中 */
  background-attachment: fixed;
  .searchNotFound {
    margin-top: 200px;
    height: 600px;
  }
  .month-title {
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    border-bottom: 3px solid;
    font-size: x-large;
    color: #797d66;
  }
}

.act-card-sec {
  a {
    display: flex;
    text-decoration: none;
  }

  width: 1440px;
  height: auto;
}

$card-width: 800px;
$card-height: 350px;
$border-radius: 8px;
$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
$badge-bg-color: #90957a;
$statusOff-color: #963827;
$statusOn-color: #90957a;
$font-color-light: #90957a;

.cardLeft {
  position: relative;

  .rightTextCHN {
    position: absolute;
    width: 470px;
    height: 53px;
    top: 240px;
    right: 0%;
    font-weight: 900;
    font-size: 28px;
    border: 1px solid #90957a;
    border-top: #90957a;
    border-left: #90957a;
    border-right: #90957a;
  }

  .rightTextENG {
    position: absolute;
    height: 53px;
    right: 5%;
    width: 400px;
    top: 300px;
    font-size: 20px;
  }
}

.cardRight {
  position: relative;

  .leftTextCHN {
    position: absolute;
    top: 240px;
    left: 0%;
    height: 53px;
    width: 470px;
    font-weight: 900;
    font-size: 28px;
    border: 1px solid #90957a;
    border-top: #90957a;
    border-left: #90957a;
    border-right: #90957a;
    overflow: hidden;
  }

  .leftTextENG {
    height: 53px;
    position: absolute;
    top: 300px;
    left: 1px;
    font-size: 20px;
    width: 400px;
  }
}

.cardL {
  position: relative;

  display: flex; // 確保圖片和文字橫向排列
  flex-direction: row; // 橫向排列
  width: $card-width;
  height: $card-height;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: #fff;
  margin-bottom: 67px;

  .card-img {
    padding: 10px;
    width: 476px;
    height: 348px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .card-img::after {
    content: '';
    position: absolute;
    top: 0;
    /* 初始位置在图片下方 */
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* 黑色半透明 */
    transition: all 0.3s ease-in;
    /* 平滑的过渡效果 */
    transform: translateY(100);
  }

  .card-img:hover::after {
    top: 0;
    /* 使覆盖层上升到图片上方 */
    transform: translateY(0%);
    opacity: 1;
  }

  .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    opacity: 0;
    /* 初始状态透明 */
    display: flex;
    justify-content: space-around;
    /* 均匀分配每个子块 */
    align-items: center;
    /* 垂直居中 */
    width: 70%;
    /* 让文字区域占据整个宽度 */
    transition: opacity 0.3s ease;
    /* 平滑的过渡效果 */
    z-index: 2;

    .num {
      font-size: 60px;
      margin-bottom: 10px;
    }
  }

  .card-img:hover .card-text {
    opacity: 1;
  }

  .card-text > div {
    text-align: center;
    flex: 1;
    /* 每个子块占据相等的宽度 */
  }

  .card-text p {
    margin: 0;
    line-height: 1.2em;
  }

  .card-det {
    position: absolute;
    left: 50%;
    bottom: 10px;
    /* 控制离底部的距离 */
    transform: translateX(-50%);
    color: white;
    opacity: 0;
    /* 初始状态透明 */
    transition: opacity 1s ease;
    /* 平滑的过渡效果，0.5秒后开始 */
    z-index: 2;
  }

  .card-img:hover .card-det {
    opacity: 1;
    /* 悬停时显示文字 */
  }

  .card-content {
    flex: 1;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-date {
      display: flex;
      flex-direction: column;
      align-items: start;
      font-weight: bold;
      font-size: x-large;
      color: black;
      width: 100%;
      border-bottom: 1px solid black;
      margin-top: 10px;
    }

    .card-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      font-weight: bold;
      font-size: xx-large;
      color: black;
      width: 100%;

      p {
        font-size: 14px;
      }

      .title {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .t1 {
        font-size: 20px;
        margin-top: -15px;
        margin-bottom: 15px;
      }
    }

    .card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .badge {
        background-color: $badge-bg-color;
        color: white;
        border-radius: 12px;
        padding: 4px 12px;
        font-size: 12px;
      }

      .statusOn {
        padding: 2px 14px;
        color: white;
        font-weight: bold;
        font-size: small;
        background-color: $statusOn-color;
        border-radius: 30px;
      }
      .statusOff {
        padding: 2px 14px;
        color: white;
        font-weight: bold;
        font-size: small;
        background-color: $statusOff-color;
        border-radius: 30px;
      }

      .heart-icon {
        z-index: 30;
        cursor: pointer;
        transition: transform 0.2s ease;
        .ph-heart {
          font-size: 24px;
          fill: #963827;
          transition: fill 0.2s ease;
        }
        .heart-icon:hover .ph-heart {
          fill: #b33939; /* Darker color on hover */
        }
      }
      .heart-icon:hover {
        transform: scale(1.1);
      }
    }
  }
}

.cardR {
  position: relative;
  margin-left: 500px;
  display: flex; // 確保圖片和文字橫向排列
  flex-direction: row; // 橫向排列
  width: $card-width;
  height: $card-height;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 67px;

  .card-img {
    padding: 10px;
    width: 476px;
    height: 349px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .card-img::after {
    content: '';
    position: absolute;
    top: 0;
    /* 初始位置在图片下方 */
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* 黑色半透明 */
    transition: all 0.3s ease-in;
    /* 平滑的过渡效果 */
    transform: translateY(100);
  }

  .card-img:hover::after {
    top: 0;
    /* 使覆盖层上升到图片上方 */
    transform: translateY(0%);
    opacity: 1;
  }

  .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    opacity: 0;
    /* 初始状态透明 */
    display: flex;
    justify-content: space-around;
    /* 均匀分配每个子块 */
    align-items: center;
    /* 垂直居中 */
    width: 70%;
    /* 让文字区域占据整个宽度 */
    transition: opacity 0.3s ease;
    /* 平滑的过渡效果 */
    z-index: 2;

    .num {
      font-size: 60px;
      margin-bottom: 10px;
    }
  }

  .card-img:hover .card-text {
    opacity: 1;
  }

  .card-text > div {
    text-align: center;
    flex: 1;
    /* 每个子块占据相等的宽度 */
  }

  .card-text p {
    margin: 0;
    line-height: 1.2em;
  }

  .card-det {
    position: absolute;
    left: 50%;
    bottom: 10px;
    /* 控制离底部的距离 */
    transform: translateX(-50%);
    color: white;
    opacity: 0;
    /* 初始状态透明 */
    transition: opacity 1s ease;
    /* 平滑的过渡效果，0.5秒后开始 */
    z-index: 2;
  }

  .card-img:hover .card-det {
    opacity: 1;
    /* 悬停时显示文字 */
  }

  .card-content {
    flex: 1;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;

    .card-date {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      font-size: x-large;
      color: black;
      width: 100%;
      border-bottom: 1px solid black;
    }

    .card-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      font-weight: bold;
      font-size: xx-large;
      color: black;
      width: 100%;

      p {
        font-size: 14px;
      }

      .title {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .t1 {
        font-size: 20px;
        margin-top: -15px;
        margin-bottom: 15px;
      }
    }

    .card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .badge {
        background-color: $badge-bg-color;
        color: white;
        border-radius: 12px;
        padding: 4px 12px;
        font-size: 12px;
      }

      .statusOn {
        padding: 2px 14px;
        color: white;
        font-weight: bold;
        font-size: small;
        background-color: $statusOn-color;
        border-radius: 30px;
      }
      .statusOff {
        padding: 2px 14px;
        color: white;
        font-weight: bold;
        font-size: small;
        background-color: $statusOff-color;
        border-radius: 30px;
      }
      .heart-icon {
        z-index: 30;
        cursor: pointer;
        transition: transform 0.2s ease;
        .ph-heart {
          font-size: 24px;
          fill: #963827;
          transition: fill 0.2s ease;
        }
        .heart-icon:hover .ph-heart {
          fill: #b33939; /* Darker color on hover */
        }
      }
      .heart-icon:hover {
        transform: scale(1.1);
      }
    }
  }
}
