@import '@/styles/_variant.scss';

.right {
    padding: 20px;
}

.order-det-header {
    padding-inline: 20px;
    height: 80px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    

    @media (max-width: 700px) {
        display: none;
    }

    .squ {
        width: 30px;
        height: 67px;
        background-color: $green-700;
    }

    .order-num {
        font-size: 24px;
        color: $green-500;
        font-weight: 550;
    }

    .header-right {
        color: $red-500;
    }

}


.order-det-content {
    margin-top: 10px;

    .topTitle {
        text-align: center;
        align-content: center;
        height: 45px;
        background-color: $green-700;
        border-radius: 5px 5px 0px 0px;
        color: #fff;
        display: none;

        @media (max-width: 500px) {
            display: block;
        }
    }

    .msg {
        background-color: #fdfdfd;
        padding-block: 20px;
        padding-inline: 80px;
        align-items: center;

        @media (max-width: 1600px) {
            padding: 20px;
            align-items: start;
            ;
        }

        @media (max-width: 700px) {
            padding: 10px;
            border-bottom: 1px solid $gray-200;
            align-items: start;
            ;
        }

        .msg-left {
            width: 450px;

            .left-title {
                color: $green-600;
                margin-bottom: 20px;

                @media (max-width: 600px) {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
            @media (max-width: 1600px) {
                width: 400px;
            }
            @media (max-width: 700px) {
                width: 220px;
            }
        }

        .msg-right {
            width: 450px;
            margin-bottom: 20px;

            .right-title {
                color: $green-600;
                margin-bottom: 20px;



                @media (max-width: 600px) {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
            @media (max-width: 1600px) {
                width: 400px;
            }
            @media (max-width: 700px) {
                width: 220px;
            }
        }
    }

    .line {
        width: 1px;
        height: 200px;
        margin-right: 5px;
        background: #BFBFBF;

        @media (max-width: 500px) {
            height: 100px;
        }
    }

    .detail div {
        padding-bottom: 5px;

        @media (max-width: 600px) {
            font-size: 11px;
        }
    }
}

.content {
    padding: 10px;

    .header {
        color: $green-600;

        @media (max-width: 700px) {
            display: none;
        }
    }
}

.footer {
    background-color: #f5f5f5;

    .total-text-group {
        width: 300px;

        @media (max-width: 700px) {
            width: 100%;
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 700px) {
                font-size: 16px;
            }
        }
    }
}

.total {
    span {
        color: $red-500;
    }
}