@import '@/styles/_variant.scss';

.step {
  margin-block: 100px;
  text-align: center;
}

//checkedbox樣式變更
.form-check-input:checked {
  background-color: black;
  border-color: black;
  box-shadow: none;
}

.form-input {
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1.5px solid $green-500;
  }
  &::placeholder {
    color: $gray-200;
  }
}

.outer {
  //   background-color: rgb(127, 125, 125);
  display: flex;
  justify-content: center;
  .list {
    width: 1000px;
    .order {
      .order-topic {
        border-radius: 5px 5px 0 0;
        padding: 15px 30px;
        color: #fff;
        background-color: $green-700;
      }

      //訂單簡易展示方框
      .order-box {
        padding: 20px 30px;
        border: 1px solid $gray-200;
        border-radius: 0 0 5px 5px;
      }

      .payment-topic,
      .shipping-topic {
        margin-top: 30px;
        margin-bottom: 15px;
        color: $green-500;
        font-weight: 600;
        span {
          color: $red-500;
          font-weight: 400;
        }
      }

      .shipping-form {
        margin: 20px 30px;
        padding: 10px 40px;
        border-radius: 5px;
        background-color: $gray-100;
      }

      // 付款方式&物流
      .payment,
      .shipping {
        .home_delivery {
          padding: 8px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 100%;
            width: 100%;
            height: 1px;
            background: #000;
            transform: translateX(-50%) scaleX(0);
            transition: transform 0.5s ease;
          }
          &.show-line::after {
            // 當有 show-line 類時顯示線條
            transform: translateX(-50%) scaleX(1);
          }
        }

        input[type='radio'] {
          display: none;
          + label {
            position: relative;
            padding-left: 30px;
            font-size: 16px;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 18px;
              height: 18px;
              border: 1.2px solid $gray-200;
              border-radius: 50%;
              background-color: white;
            }

            // 當 radio 被選中時，內部的圓圈
            &:after {
              content: '';
              position: absolute;
              left: 4px;
              top: 50%;
              transform: translateY(-50%);
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: transparent;
            }
          }

          &:checked + label {
            &:after {
              background-color: $green-500;
            }
          }
        }
      }
    }
  }
}

//結帳小計方框
.checkout {
  .sticky {
    position: sticky;
    top: 0;
  }
  margin-left: 30px;
  width: 380px;

  //優惠券點選
  .checkout_discount {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border: 1px solid $gray-200;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    span:nth-child(2) {
      color: $green-500;
    }
    &:hover {
      background-color: $green-500;
      span {
        color: #fff;
      }
      span:nth-child(2) {
        transform: translateX(10px);
        transition: transform 0.6s ease;
      }
    }
  }
  //小計總額
  .checkout_total {
    .checkout_total_box {
      padding: 20px 30px;
      border: 1px solid $gray-200;
      border-radius: 5px 5px 0 0;
      .item {
        display: flex;
        justify-content: space-between;
        padding: 3px 0;
      }
      .discount_item {
        color: $red-500;
      }
      .total {
        background-color: $gray-100;
        border: 1px solid $gray-200;
        border-radius: 0 0 5px 5px;
        text-align: end;
      }
    }
    .total {
      background-color: $gray-100;
      border-left: 1px solid $gray-200;
      border-right: 1px solid $gray-200;
      border-bottom: 1px solid $gray-200;
      border-radius: 0 0 5px 5px;
      padding: 20px 30px;
      text-align: end;
      margin-bottom: 20px;
      span {
        font-size: 20px;
        color: $red-500;
      }
    }
  }
}

//RWD
@media screen and (max-width: 1200px) {
  .step {
    margin-block: 50px;
  }
  .outer {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    .list {
      width: 100%;
      padding: 0;
    }
    .brand {
      font-size: 14px;
    }
    .checkout {
      width: 100%;
      margin: 0;
      .checkout_discount {
        margin-bottom: 50px;
      }
      .checkout_total_box {
        display: none;
      }
    }
  }
  .checkout {
    .checkout_btn {
      // background-color: pink;
      text-align: end;
      margin-top: 30px;
      margin-bottom: 150px;
    }
  }
}

@media screen and (max-width: 780px) {
  .outer {
    .list {
      .order {
        //訂單簡易展示方框
        .order-box {
          padding: 16px 12px;
          .order-info {
            padding: 0px 12px;
            margin-bottom: 20px;
          }
        }
        .payment-topic,
        .shipping-topic {
          margin-top: 10px;
          margin-bottom: 16px;
          font-weight: 600;
          font-size: 16px;
          span {
            font-size: 14px;
            font-weight: 400;
          }
        }
        .method-topic {
          padding: 0px;
        }

        .shipping-form {
          font-size: 14px;
          margin: 10px 0px;
          padding: 16px 16px;
        }
      }
    }
  }
  .order-topic {
    border-radius: 5px 5px 0 0;
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: $green-700;
  }

  .form-input {
    height: 35px;
    font-size: 14px;
  }
}

@media screen and (max-width: 540px) {
  .outer {
    .order-topic,
    .order-box {
      margin-inline: 15px;
    }
  }
  //小計box
  .checkout {
    // margin-left: 0px;
    .checkout_btn {
      // background-color: pink;
      margin-inline: 15px;
      button {
        width: 150px;
        height: 44px;
        font-size: 14px;
      }
    }
  }
}
