@import '@/styles/_variant.scss';

.dropdownTitle {
  height: 28px;
  width: 100%;
  padding-inline: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);

  .downIcon {
    padding-top: 3px;
    margin-left: 10px;
    font-size: 22px;
  }
}

.dropdownMenu {
  transform: rotateX(0deg);
  background: rgba(255, 255, 255, 0.9);
  max-height: 250px; /* 設置最大高度 */
  overflow-y: auto; /* 超出範圍時顯示垂直滾動條 */

  border-radius: 0;
  transition: 0.5s;
  opacity: 1;
  margin-block: 5px;
  --bs-dropdown-link-color: #6b6b6b;
  --bs-dropdown-link-active-color: #626553;
  --bs-dropdown-link-active-bg: white;
  --bs-dropdown-link-hover-color: #ededed;
  --bs-dropdown-link-hover-bg: #797d66;
  --bs-dropdown-min-width: 9rem;
  --bs-dropdown-border-color: white;
}
.firstOption {
  --bs-dropdown-link-hover-bg: #a1a1a1;
  --bs-dropdown-link-hover-color: white;
}


