@import '@/styles/_variant.scss';

.post-container {
  display: flex;
  // justify-content:center
  // flex: 1 1 auto;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 67px 190px;
  @media (max-width: 1440px) {
    padding: 20px 50px;
  }
  @media screen and (max-width: 576px) {
    padding: 0;
  }
  @media (max-width: 390px) {
    gap: 20px;
  }
  .post-read {
    display: flex;
    justify-content: center;
    // gap: 60px;
    position: relative;
    & > button {
      position: absolute;
      left: 0px;
      color: #000;
      z-index: 1000;
      border-radius: 50px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      border: none;
      padding: 0;
      background-color: #fff;
      @media (max-width: 1680px) {
        left: -40px;
      }
      @media (max-width: 1440px) {
        left: -4px;
      }
      @media (max-width: 1280px) {
        top: 12px;
        left: 12px;
        background-color: #ffffff15;
        // box-shadow: none;
        color: #fff;
      }
      @media (max-width: 1140px) {
        left: 10px;
      }
      svg {
        // left: -130px;
        padding: 4px;
        // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .post-explore {
    text-align: center;
  }
  .post-wall {
    padding: 0 240px;
    display: flex;
    justify-content: center;
    gap: 25px;
    @media (max-width: 390px) {
      gap: 10px;
      padding: 0 20px;
    }
    .post-wall-small {
      padding: 0 240px;
      display: flex;
      justify-content: center;
      gap: 25px;
      @media (max-width: 390px) {
        gap: 10px;
        padding: 0 20px;
      }
    }
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -25px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 25px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px;
}
