@import '@/styles/_variant.scss';

.label {
  font-size: 16px;
  span {
    color: $green-500;
    font-size: 14px;
  }
}
.detailTextarea {
  border-radius: 5px;
  border: 1.5px solid $gray-200;
  padding-inline: 15px;
  height: 240px;
  span {
    color: $green-500;
    font-size: 14px;
  }

  &:focus {
    outline: none;
    border: 2px solid $green-500;
  }

  &::placeholder {
    color: #cbcbcb;
  }
}
.errorInput {
  border: 1px solid $red-500; // 當有錯誤時的紅色邊框顏色
}
