@import '@/styles/_variant.scss';

.password-area {
  margin-top: 85px;
}

.input-password {
  position: relative;
}

.icon-lock {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.form-focus {
  padding-left: 50px;
  border-radius: 5px;
}

.form-focus:focus {
  border-color: $green-500;
  box-shadow: 0 0 0 0.1rem $green-500;
}



//   &:focus {
//     border-color: $green-500;
//     box-shadow: 0 0 0 0.1rem $green-500;
//   }
// }

.icon-eye {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.email-text {
  color: $red-500;
}

.form-check-input2:checked {
  background-color: black;
  border-color: black;
  box-shadow: none;
}

.form-check-input2:focus {
  box-shadow: 0 0 0 0.1rem $green-500;
}

.email-area {
  margin-bottom: 150px;
}

.line-title-down {
  border-top: 2px solid $green-500;
  margin-top:70px;
}

// @media (max-width: 1440px) {
//   .container-pw {
//     margin-inline: 20px;
//   }
// }

@media (max-width: 576px) {
  .password-area {
    margin-top: 40px;
  }

  .email-area {
    margin: 30px 0px;
  }

  .email-rwd {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.eyeiclosed {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom:30%;
  background-color: transparent;
  border: none;
}