@import '@/styles/_variant.scss';

.header {
  background-color: #626553;
  height: 72px;
  color: $gray-100;
}
.main {
  padding: 70px 0px;
  padding-left: 120px;
  // width: 113%;
  margin: auto;
  .section1 {
    display: flex;

    padding-inline: 80px;
    padding-block: 50px;

    .uploadMainInfo {
      margin-left: 80px;

      .subtitle {
        border-bottom: 1px solid $green-600;
        padding-inline: 30px;
        padding-block: 5px;
        margin-bottom: 30px;

        h4 {
          color: $green-700;
        }
      }
      .inputArea {
        padding-inline: 30px;
      }
    }
  }
  .section02 {
    padding-inline: 80px;
    padding-block: 50px;

    .workshopDetail {
      background-color: #ffffff;
      border-radius: 5px;
    }
    h4 {
      color: $green-700;
    }
  }
  .section03 {
    padding-inline: 80px;
    padding-block: 50px;
    h4 {
      color: $green-700;
    }
  }
  .Btncon {
    margin-right: 11% !important;
  }
}
