@import '@/styles/_variant.scss';

.dropdownTitle {
    height: 28px;
    width: 100%;
    padding-inline: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;

    .downIcon {
    padding-top: 3px;
    margin-left: 10px;
    font-size: 22px;
    width: 22px;
  }
  }

  .dropdownMenu {
    transform: rotateX(0deg);
    background: rgba(0, 0, 0, 0.806);
    border-radius: 0;
    transition: 0.5s;
    opacity: 1;
    margin-block: 5px;
    --bs-dropdown-link-color: #d8d8d8;
    --bs-dropdown-link-active-color: #626553;
    --bs-dropdown-link-active-bg: #bfbfbf;
    --bs-dropdown-link-hover-color: #4b4d3f;
    --bs-dropdown-link-hover-bg: #bfbfbf;
    --bs-dropdown-min-width: 9rem;
  }
  .firstOption{
    --bs-dropdown-link-hover-bg: #4b4d3f;
    --bs-dropdown-link-hover-color: #d8d8d8;
  }