@import '@/styles/_variant.scss';

.cart {
    width: 535px;
    height: 200px;
    border: 1px solid $green-500;
    background-color: #fff;
    box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;

    .text{
        color: $green-500;
        i{
            font-size: 20px;
        }
    }

    .btn {
        padding-block: 5px;
        width: 95px;
        background-color: $green-500;
        color: #fff;
        border-radius: 1px;
        border: $green-500 solid 2px;
        position: absolute;
        right: 20px;
        bottom: 20px;

        &:hover {
            background: transparent;
            color: $green-500;
            border: $green-500 solid 2px;
            transition: ease 0.3s;
        }

    }
}